<h1>Log-In/Registration</h1>

	<div id='register'>
		<h1>Register New User</h1>

		<form action="/users/create" method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label for="Name">Name:</label><br>
			<input type="text" id="Name" name="user[name]"><br>
			<label for="Name">Alias:</label><br>
			<input type="text" id="Alias" name="user[alias]"><br>
			<label for="Name">Email:</label><br>
			<input type="text" id="Email" name="user[email]"><br>
			
			<label for="Password">Password:</label><br>
			<input type="password" id="Password" name="user[password]"><br>
			<label for="Password Confirmation">Password Confirmation:</label><br>
			<input type="password" id="Password Confirmation" name="user[password_confirmation]"><br>
			<!-- <input type="submit" name="Log In" value='Join'> -->
			<button type="submit" class="btn btn-primary">Join</button>
		</form>		
	</div> <!-- end register -->
	<div id="log_in">
		<h1>Log In</h1>
		<form action="/sessions" method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label for="Name">Email:</label><br>
			<input type="text" id="Email" name="email"><br>
			<label for="Passwoord">Password:</label><br>
			<input type="password" id="Password" name="password"><br>
			<!-- <input type="submit" name="Log In" value='Log In'> -->
			<button type="submit" class="btn btn-primary">Log In</button>
		</form>
	</div> <!-- end login -->



  