<h1>Sessions#new</h1>

<h1>Log In</h1>

<form action="/sessions" method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label for="Name">Email:</label><br>
	<input type="text" id="Email" name="email"><br>
	<label for="Passwoord">Password:</label><br>
	<input type="password" id="Password" name="password"><br>
	<input type="submit" name="Log In" value='Log In'>
</form>

  <a href="/users/new">New member?</a>