<h1>Log-In/Registration</h1>

	<div id="log_in">
		<h1>Log In</h1>
		<form action="/session" method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label for="Name">Email:</label><br>
			<input type="text" id="Email" name="email"><br>
			<label for="Passwoord">Password:</label><br>
			<input type="password" id="Password" name="password"><br>
			<!-- <input type="submit" name="Log In" value='Log In'> -->
			<button type="submit" class="btn btn-primary">Log In</button>
		</form>
	</div> <!-- end login -->
	<div id='register'>
		<h1>Register New User</h1>

		<form action="/user/create" method='post'>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<label for="Name">First Name:</label><br>
			<input type="text" id="First_Name" name="user[first_name]"><br>
			<label for="Name">Last Name:</label><br>
			<input type="text" id="Last_Name" name="user[last_name]"><br>
			<label for="Name">Email:</label><br>
			<input type="text" id="Email" name="user[email]"><br>
			<label for="Name">City:</label><br>
			<input type="text" id="city" name="location[city]"><br>
			<label for="Name">State:</label><br>
			<input type="text" id="state" name="location[state]"><br>
			<label for="Password">Password:</label><br>
			<input type="password" id="Password" name="user[password]"><br>
			<label for="Password Confirmation">Password Confirmation:</label><br>
			<input type="password" id="Password Confirmation" name="user[password_confirmation]"><br>
			<!-- <input type="submit" name="Log In" value='Join'> -->
			<button type="submit" class="btn btn-primary">Join</button>
		</form>		
	</div> <!-- end register -->

  <!-- <a href="/user/new">New member?</a> -->

  